playground.py
.vscode
__pycache__
trained_ae
trained_models
plots
generated_samples
data/ERPCORE/N400/Raw
data/ERPCORE/N170/Raw
data/ERPCORE/N2PC/Raw
data/ERPCORE/MMN/
figures
classification/antisaccade/Classification Results
