venv/
.idea/
.vscode/launch.json
site/
generated_samples/*
trained_ae/*
trained_vae/*
trained_models/*
helpers/data/*
data/*
*/__pycache__/*
__pycache__/*
playground.py
eeggan/helpers/__pycache__/*
eeggan/nn_architecture/__pycache__/*